body {
  font-family: "Source Sans Pro", sans-serif;
  background: #f0f2f5;
}

h1 {
  font-size: 30px;
}

h1,
h2,
p {
  margin-bottom: 10px;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover,
a:active {
  color: #909090;
}

header {
  background: #555;
  color: #eee;
  padding: 20px;
}

header a {
  color: #eee;
}

header div {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#projects h2 {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  margin-top: 20px;
}
